# List all available datasets

In [1]:
from pycaret.datasets import get_data

datasets = get_data("index", verbose=False)
datasets[datasets["Default Task"] == "Regression"]

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
44,automobile,Multivariate,Regression,price,None,202,26,Y
45,bike,Multivariate,Regression,cnt,None,17379,15,N
46,boston,Multivariate,Regression,medv,None,506,14,N
47,concrete,Multivariate,Regression,strength,None,1030,9,N
48,diamond,Multivariate,Regression,Price,None,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,None,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,None,2558,121,N
52,house,Multivariate,Regression,SalePrice,None,1461,81,Y
53,insurance,Multivariate,Regression,charges,None,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,None,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,None,48204,8,N

# Basic workflow

In [2]:
from pycaret.datasets import get_data
from pycaret.regression import RegressionExperiment

data = get_data("forest", verbose=False)

exp = RegressionExperiment()

exp.setup(
    data=data,
    target="area",
    experiment_name="modelling-tools-test-basic-workflow",
    log_experiment=True,
    log_data=True,
    log_plots=True,
    # log_profile=True,
)

In [3]:
best_methods = exp.compare_models(
    exclude=["lightgbm", "dummy"], sort="RMSE", n_select=3
)

exp.tune_model(best_methods[0], choose_better=True)

exp.ensemble_model(exp.create_model(best_methods[0]), choose_better=True)

exp.stack_models(estimator_list=best_methods, choose_better=True, restack=False)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Original model was better than the stacked model, hence it will be returned. NOTE: The display metrics are for the stacked model (not the original one).

BayesianRidge()

In [4]:
exp.automl(optimize="RMSE")

BayesianRidge(alpha_1=0.2, alpha_2=0.05, compute_score=True, lambda_1=0.2,
              lambda_2=1e-07)

# Convenience workflow from `fhdw.modelling`

in the follownig you find a setup with the convenience workflow:

In [5]:
from fhdw.modelling.pycaret import create_regression_model
from pycaret.datasets import get_data

data = get_data("concrete")
exp, best_model = create_regression_model(
    data=data,
    target="strength",
    exclude=["lightgbm", "dummy"],
    save_strategy="local",
    verbose=True,
    prefix="modelling-tools-test-",
    log_experiment=True,
)

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

experiment name: 'modelling-tools-test-strength'

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

Transformation Pipeline and Model Successfully Saved
saved experiment to: 'artifacts/experiments/modelling-tools-test-strength.exp'
saved data to: 'artifacts/data/modelling-tools-test-strength.parquet'
saved best model to: 'artifacts/models/modelling-tools-test-strength.pkl'

# Make Predictions from MLFlow

In [6]:
import mlflow

# following run ID must be changed...
logged_model = "runs:/b1c4b8e1b48d434e8aa4e97b5350ae8d/model"

# TODO: looking for a way to use the "best" model
# this would probably be something about models with 'tags' or 'versions'
# --> do some research here


# Load model as a PyFuncModel.
loaded_model = mlflow.pyfunc.load_model(logged_model)

# Predict on a Pandas DataFrame.
holdout_data = exp.X_test

loaded_model.predict(holdout_data)

MlflowException: Run 'b1c4b8e1b48d434e8aa4e97b5350ae8d' not found

In [7]:
import mlflow

# from experiment 'modelling-tools-test-strength'
# Experiment ID '904168178551896028'
# Stacking Regressor; Run ID: '5c081b6776d04f7896a63679c60fe9b5'
# Parent Run 'c027affe9cd0482ba35a522115618201'
logged_model = "runs:/5c081b6776d04f7896a63679c60fe9b5/model"


# Load model as a PyFuncModel.
loaded_model = mlflow.pyfunc.load_model(logged_model)

# Predict on a Pandas DataFrame.
holdout_data = exp.X_test

loaded_model.predict(holdout_data)

2023/12/05 12:20:15 WARNING mlflow.pyfunc: Detected one or more mismatches between the model's dependencies and the current Python environment:
 - mlflow (current: 1.27.0, required: mlflow==2.8.1)
To fix the mismatches, call `mlflow.pyfunc.get_model_dependencies(model_uri)` to fetch the model's environment and install dependencies using the resulting environment file.

array([27.82910186, 44.03777053, 31.17655482, 11.03272804, 31.22922168,
       41.47641065, 16.21939801, 13.24960513, 39.57687562, 22.97121238,
       43.47331813, 48.40485451, 29.65761608, 24.91474695, 17.7908425 ,
       55.07659447, 53.51716901, 34.99445157, 12.17582496, 40.74179605,
       29.64957374, 20.16480013, 60.20075721, 54.2095764 , 41.22775309,
       33.34146715, 77.93316217, 59.75035805, 78.02371942, 30.73984972,
       77.10326287, 22.87365449, 31.77461089, 71.44127924, 61.46580212,
       35.12758434, 25.12160543, 53.09635336, 22.60585083, 58.19732131,
       24.79360609, 22.98396412, 35.01358694, 52.88923686, 31.35832608,
       25.83091571, 15.09042886, 14.25423594, 24.60267692, 22.45445561,
       13.99028969, 65.19495318, 63.09174455, 26.64628689, 51.20074276,
       23.80006756, 11.25701486, 14.28312907, 20.52490821, 29.03588664,
       14.67341879, 56.77856104, 48.87405053, 33.85032309, 36.64954222,
       32.84451331, 37.11202859, 37.19747393, 25.59461938, 54.28758677,
       33.69006907, 33.26863101, 11.88060198, 27.08254327, 10.86378731,
       70.40833209, 13.31745828, 37.01322062, 49.66500218, 37.57920455,
       43.59921225, 29.04315468, 24.67089442, 48.87405053, 11.15391192,
       46.54074175, 18.36364114, 31.24063179, 44.66599716, 34.2267697 ,
       27.50561238, 54.8353954 , 50.12077052, 43.68296973, 59.38707811,
       26.80048797, 19.27496887, 70.39619107, 38.24831107, 36.57710086,
       58.52139455, 51.09390859, 73.98036786, 53.49311397, 28.60584602,
       19.53016619, 25.66005521, 40.81441076, 24.38338218, 42.36823122,
       27.53467868, 26.87072548, 37.24282103, 73.69342417, 10.47912372,
       27.74925346, 67.75874395, 34.79939696, 69.11816438, 33.90918059,
       56.39477224, 17.94213296, 11.24763826, 39.86815472, 17.73177131,
       35.36474967, 28.80194645, 36.79195174, 72.6590728 , 13.0801931 ,
       39.94385473, 67.03198787, 40.36071797, 39.32294016, 38.59003726,
       37.71012754, 30.84956767, 27.12063748, 31.63752538, 41.87582343,
       65.75664396, 14.44748767, 50.14751811, 25.75789171, 64.86428652,
       30.03526499, 14.43392511, 14.02850622, 70.40833209, 21.53783571,
       16.00860594, 46.02264276, 50.38193656, 39.69838809, 35.18728401,
       50.50314013, 80.67650363, 40.88666427,  9.89856874, 33.17046603,
       50.14751811, 41.50726168, 46.54975496,  6.49322221, 51.38519007,
       50.88519385, 25.47861567, 36.70855107, 51.57457134, 39.11865029,
       42.22058092, 27.64621658, 74.61799261, 40.49350677, 52.09289175,
       36.62476371, 26.93559266, 39.24467443, 18.97646544, 40.69075312,
       14.34937962, 30.9185389 , 39.4534224 , 49.45268016, 33.19021656,
       24.79969928, 44.04413418, 33.30190456, 33.40078435, 42.46410248,
       29.79436234, 33.69006907, 53.42350555, 40.61424125, 22.70002903,
       32.88931218, 29.13234858, 29.11621291, 53.03944602, 38.57719233,
       37.52735024, 30.85379632, 38.0368303 , 13.66476061, 40.31315135,
       44.29248027, 53.27774184, 34.11959911, 52.10846769, 53.96061672,
       12.23535739, 14.56085316, 30.08198793, 38.03305866, 29.43000431,
       41.09131732, 14.70074007,  9.91689743, 34.12383947, 11.78750304,
       34.95788024, 33.99868307, 46.02264276, 33.09681428, 80.67650363,
       12.50941738, 74.5894492 , 29.02271377, 43.03433483, 36.79640356,
       27.02289676, 64.92709944, 55.4793263 , 53.18530681, 22.77226565,
        7.415266  , 29.79949118, 37.08273834, 50.37054503, 10.25157372,
       80.67650363, 68.39232516, 51.99428288, 41.90367084, 41.16442087,
       24.58783718, 52.11583195,  6.70502502, 52.4128586 ,  4.83809437,
       69.29721198, 51.75246194, 14.75511756, 20.34340683, 53.0819594 ,
       36.27868455, 64.83532073, 48.19505381, 35.61538411, 42.48571501,
       54.81000773, 27.95817634, 13.5675108 , 31.88471927,  9.45863512,
       34.79939696, 34.79939696, 25.54528684, 24.08361507, 29.34132064,
       57.19876939, 14.01034305, 26.11989719,  9.54135232, 25.09495333,
       70.40833209, 32.48136203, 58.76469435, 30.57585059, 43.22611216,
       64.23836992, 51.81153148, 37.17575105, 50.45291153, 28.45967972,
        7.10669595, 41.1943376 , 29.78844218, 39.35080223, 71.18990918,
       13.89765612, 27.31176615, 31.40766307, 64.22444768, 53.10235668,
       41.55753516, 52.7100728 , 49.93382677, 30.39181483, 31.11466499,
       35.65351248, 50.53561381, 38.28123787, 61.07173437, 37.88711864,
       50.73526874, 36.03594402, 31.50527992, 30.50487511])